workflows/Picantería Lurwis _ Procesador.json
{
  "name": "Picantería Lurwis | Procesador",
  "nodes": [
    {
      "parameters": {
        "content": "## NOTA 4\nEste nodo Postgres, ejecuta una query en la DB que verifica si es que tiene un pedido o no, usa la operación TRIM para eliminar espacios que pueden ser molestos. Maneja errores en cuanto  al seguir el flujo si este falla o no.\n",
        "height": 208,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -896,
        224
      ],
      "typeVersion": 1,
      "id": "32d0dbc3-29cf-47a5-a7cd-ad105d23eaaf",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## NOTA 5\nEste IF, ayuda a la verificación de la query anterior.",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        224
      ],
      "id": "29be6f6e-9cad-4005-8ea2-cbc9236f7388",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## NOTA 5.1\nEste agente es necesario para saber si el cliente solamente quiere información del pedido o quiere modificar el pedido,  usa un modelo de chat rápido.",
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "b9a7259d-0ef2-4327-b8b7-736b2d443671",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## NOTA 6\nEste agente es super importante y necesario, este se ocupa de la clasificación de cada mensaje enviado por el cliente, usa un modelo de chat rápido.",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        224
      ],
      "id": "468733b9-96c6-4e26-8124-a57be1217af5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## NOTA 5.1.1\nEse \"Analizador Intención Flexible\", sirve para verificar exactamente que es lo que quiere modificar el cliente.",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        16
      ],
      "id": "9bc3c1da-6c15-404d-a4f0-a600790ebdaf",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## NOTA 6.1\nEste agente se ocupa netamente de las reservas al local. Aún no está en uso (falta lógica) y creación de collections en mongoDB.",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -896,
        544
      ],
      "id": "a0ac77f0-8c13-4e13-90ee-ac17aa231d34",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## NOTA 6.2\nEste agente se ocupa netamente de las reservas de mesas. Aún no está en uso (falta lógica) y creación de collections en mongoDB.",
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        544
      ],
      "id": "c61c7657-cb86-4b9c-bead-441bcf80a190",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## NOTA 6.4\nEste agente se ocupa netamente de las atenciones generales (horarios de atención, quejas, consultas en general). Aún no está en uso (falta lógica) y creación de collections en mongoDB.",
        "height": 224,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        800
      ],
      "id": "d7ffe435-cb6c-403a-b7d2-c2cb0d794246",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## NOTA 6.3\nEste agente se ocupa netamente de los pedidos. Este está con toda la lógica en caso de presentar MVP, usa un modelo de chat pensante para la gestión de insertar y/o actualizar pedidos.",
        "height": 208,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        544
      ],
      "id": "c1356deb-c394-4f02-a12f-4595ec414d73",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## NOTA 7\nEste Merge, sirve bastante para que la sintaxis al jalar datos desde el Extractormensajes sea más prolija.",
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        800
      ],
      "id": "f7fa7cbc-4803-4648-a612-be7d05e8f1da",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## NOTA 8\nEste código de JS, es super necesario en cuanto a la búsqueda de datos obtenidos de los agentes, además la creación del JSON con el total aproximado  para que sirva al siguiente nodo (IF).",
        "height": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        832
      ],
      "id": "26c7bcc5-8e00-4c80-85df-4544d38707cf",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## NOTA 9\nEste if es super necesario, en caso de seguir siendo una conservasación sin un total, permite el envío de mensajes para mantener los mensajes coherentes.",
        "height": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -912,
        1120
      ],
      "id": "336d9d8b-7c5d-496a-b9aa-764ef6b21486",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## NOTA 10\nDespués de verificar que es un pedido, ahora con este IF se verifica si es un pedido nuevo o una modificación al pedido anterior. Esto sirve para la CRM, que mostrará el el pedido último para no tener errores ",
        "height": 192,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -608,
        1120
      ],
      "id": "f3a98b62-821f-448f-9d2d-f9e3cf5bbd3d",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## NOTA 10.1\nEste modifica el pedido y tiene manejo de errores, sin embargo no tendrá errores a salvo que haya un error en los modelos de chat.",
        "height": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        816
      ],
      "id": "6486586f-f6e8-4598-a23e-99a2aa9d6843",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## NOTA 10.2\nEste inserta una query con el pedido y tiene manejo de errores, sin embargo no tendrá errores a salvo que haya un error en los modelos de chat.",
        "height": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        544
      ],
      "id": "c2d73b27-1c50-462e-9e36-6fb6689b1492",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        432,
        2176
      ],
      "id": "b56e7427-1b28-4770-9d85-fd9568bf7add",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\n// El nodo Redis Keys devuelve: { \"ts_51900769907\": \"1771550707733\", ... }\n// Las keys son los nombres de las propiedades, no un array\n\nconst keys = Object.keys(result).filter(k => k.startsWith('ts_'));\n\nif (keys.length === 0) return [];\n\nreturn keys.map(key => ({\n  json: {\n    tsKey: key,\n    userId: key.replace('ts_', ''),\n    bufferKey: key.replace('ts_', 'buffer_'),\n    metaKey: key.replace('ts_', 'meta_')\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        2176
      ],
      "id": "1bf5f222-ca88-4408-9083-9259edb4d5df",
      "name": "Code: Expandir usuarios"
    },
    {
      "parameters": {
        "operation": "keys",
        "keyPattern": "ts_*"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        640,
        2176
      ],
      "id": "d4c47d0c-43f1-4996-b10e-95827710e045",
      "name": "Redis: Buscar usuarios activos",
      "credentials": {
        "redis": {
          "id": "LuOIeLYx2ps0SCoP",
          "name": "Buffer Lurwis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "={{ $json.tsKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1056,
        2176
      ],
      "id": "68755c91-1fc4-45bf-a5d6-71ddd52869ce",
      "name": "Redis: Leer Timestamp",
      "credentials": {
        "redis": {
          "id": "LuOIeLYx2ps0SCoP",
          "name": "Buffer Lurwis"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30ad3ab6-5221-465c-b3df-5e6fc38fc563",
              "leftValue": "={{ Date.now() - Number($json.value) }}",
              "rightValue": 8000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1264,
        2176
      ],
      "id": "77ea82b8-c1c5-4747-be38-fa72de7060ae",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "={{ $('Code: Expandir usuarios').item.json.bufferKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        640,
        2368
      ],
      "id": "15e9b014-34ab-40cc-b576-185e34248bd0",
      "name": "Redis: Leer Buffer",
      "credentials": {
        "redis": {
          "id": "LuOIeLYx2ps0SCoP",
          "name": "Buffer Lurwis"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "value",
        "key": "={{ $('Code: Expandir usuarios').item.json.metaKey }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        848,
        2368
      ],
      "id": "565ee209-4f98-4c9b-adb1-5ee16ccc7d4e",
      "name": "Redis: Leer Meta",
      "credentials": {
        "redis": {
          "id": "LuOIeLYx2ps0SCoP",
          "name": "Buffer Lurwis"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Code: Expandir usuarios').item.json.bufferKey }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1056,
        2368
      ],
      "id": "279670ba-10f1-4aae-b2b8-3e8859c4b3d4",
      "name": "Redis: Eliminar Buffer",
      "credentials": {
        "redis": {
          "id": "LuOIeLYx2ps0SCoP",
          "name": "Buffer Lurwis"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Code: Expandir usuarios').item.json.tsKey }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1264,
        2368
      ],
      "id": "27a34c7f-a118-4226-91d9-b95f2b74ef88",
      "name": "Redis: Eliminar Timestamp",
      "credentials": {
        "redis": {
          "id": "LuOIeLYx2ps0SCoP",
          "name": "Buffer Lurwis"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const bufferData = $('Redis: Leer Buffer').item.json;\nconst metaData   = $('Redis: Leer Meta').item.json;\nconst userData   = $('Code: Expandir usuarios').item.json;\n\nconst rawBuffer   = bufferData.value || '';\nconst idMensajero = metaData.value  || '947279508470714';\n\nconst mensajesUnidos = rawBuffer\n  .split('\\n')\n  .map(m => m.trim())\n  .filter(m => m.length > 0)\n  .join(' ');\n\n// ← AGREGA ESTO: si no hay mensaje, detener sin error\nif (!mensajesUnidos || mensajesUnidos.length === 0) return [];\n\nreturn {\n  json: {\n    from: userData.userId,\n    'text.body': mensajesUnidos,\n    text: { body: mensajesUnidos },\n    'id mensajero': idMensajero,\n    'id cliente': `buf_${Date.now()}`,\n    profile_name: 'Cliente',\n    buffered: true,\n    messageCount: rawBuffer.split('\\n').filter(m => m.trim()).length\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        2368
      ],
      "id": "266d2281-b965-4193-8a25-ca214e08c838",
      "name": "Extractormensajes"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=📌 Mensaje recibido por usuario: {{ $('Extractormensajes').item.json.text.body }}\n📌 Id de usuario: {{ $('Extractormensajes').item.json.from }}\n",
        "options": {
          "systemMessage": "<rol>\nEres Wilson - Info, el asistente de atención al cliente de la Picantería Lurwis en Chiclayo. Eres amable, rápido, carismático y usas emojis de comida marina o atención 🦐👋.\n</rol>\n\n<reglas_criticas>\n1. SILENCIO ABSOLUTO SOBRE TUS HERRAMIENTAS: Tienes TOTALMENTE PROHIBIDO narrar tus acciones. NUNCA uses frases como \"voy a consultar\", \"déjame revisar\", \"un momento\" o \"estoy buscando\".\n2. Ejecuta la herramienta 'buscar_info_general' de forma invisible. Tu única respuesta al cliente debe ser la información final y directa.\n3. NO ALUCINAR: NUNCA inventes horarios, direcciones o precios.\n4. FUERA DE CONTEXTO: Si el usuario hace preguntas que no están en la información general (ej. precios específicos o disponibilidad de mesas), dile amablemente que esa información la manejan otras áreas.\n</reglas_criticas>\n\n<objetivos>\n1. Responder preguntas frecuentes usando ÚNICAMENTE la herramienta 'buscar_info_general'. \n2. Si te piden ubicación, siempre incluye el enlace de Google Maps que te da la herramienta.\n</objetivos>\n\n<regla_de_derivacion>\nSi notas que el cliente tiene intención de comprar, pedir comida o ver el menú, DEBES detener la conversación informativa e invitarlo a cambiar de área. \nDile EXACTAMENTE esto al final de tu mensaje: \n\"Si deseas ver nuestro menú y ordenar, por favor responde a este mensaje diciendo exactamente: *Quiero hacer un pedido* 📝🦐\"\n</regla_de_derivacion>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4384,
        2624
      ],
      "id": "8e12c6aa-445a-4b63-8003-847e997fbd0b",
      "name": "Agente General"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=📌 Mensaje recibido por usuario: {{ $('Extractormensajes').first().json.text.body }}\n📌 Id de usuario: {{ $('Extractormensajes').first().json.from }}",
        "options": {
          "systemMessage": "Eres un clasificador experto de intenciones para un restaurante.\n\n⚠️ REGLA DE ORO (PRIORIDAD MÁXIMA):\nSi el usuario menciona palabras como \"pedido\", \"pedir\", \"comer\", \"hambre\", \"quiero\", \"menú\" o nombres de comida, la categoría ES \"PEDIDOS\".\nNO IMPORTA si el mensaje empieza con saludos o cortesías. La intención de compra MATA al saludo.\n\n⚠️ REGLA DE CONTINUIDAD (SEGUNDA PRIORIDAD):\nRevisa el historial de conversación. Si en mensajes anteriores ya clasificaste a este usuario como PEDIDOS, RESERVAS_MESA o RESERVAS_LOCAL, y el mensaje actual es una respuesta natural dentro de ese flujo (nombre, número, dirección, confirmación, elección de plato, método de pago, etc.), responde con LA MISMA categoría anterior.\nSolo reclasifica si el usuario dice explícitamente algo como \"mejor quiero reservar\" o \"olvida el pedido\".\n\nCategorías (en orden de prioridad):\n\n1. PEDIDOS (Prioridad Alta)\n   - Ej: \"Hola, quiero hacer un pedido\" -> PEDIDOS\n   - Ej: \"Buenas noches, tienen delivery?\" -> PEDIDOS\n   - Ej: \"Quiero 2 parihuelas\" -> PEDIDOS\n   - Ej: \"Luis Kevin\" (si antes clasificaste PEDIDOS) -> PEDIDOS\n\n2. RESERVAS_MESA\n   - Solo si menciona explícitamente \"reservar mesa\" o \"ir a comer al local\" (2-12 personas).\n\n3. RESERVAS_LOCAL\n   - Solo para eventos grandes, bodas, alquiler del local completo.\n\n4. GENERAL (Prioridad Baja)\n   - ÚSALO SOLO si no hay NINGUNA intención de compra o reserva Y no hay historial activo.\n   - Ej: \"Hola buenas noches\" (primer mensaje, sin historial) -> GENERAL\n   - Ej: \"¿Dónde quedan?\" -> GENERAL\n\nResponde SOLO con una palabra: PEDIDOS, RESERVAS_MESA, RESERVAS_LOCAL o GENERAL.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2560,
        1952
      ],
      "id": "af1a5e29-7d49-4b03-901c-409b16c628ae",
      "name": "Agente Clasificador"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=📌 Mensaje recibido por usuario: {{ $('Extractormensajes').item.json.text.body }}\n📌 Id de usuario: {{ $('Extractormensajes').item.json.from }}\n",
        "options": {
          "systemMessage": "You are a helpful assistant{\n  \"name\": \"Wilson - Reservas\",\n  \"context\": {\n    \"identity\": \"Soy Wilson, especialista en reservas de la PICANTERÍA LURWIS. Mi objetivo es asegurar que el cliente tenga su mesa lista.\",\n    \"business\": \"Gestión de disponibilidad de mesas, horarios y número de comensales.\",\n    \"language\": \"es\"\n  },\n  \"objectives\": [\n    \"Obtener con precisión: Fecha, hora y número de personas.\",\n    \"Validar disponibilidad usando las herramientas antes de confirmar.\",\n    \"Solicitar un número de contacto si no está presente en el chat.\",\n    \"Mantener el tono amable y carismático característico de Wilson.\",\n    \"Derivar a atención humana si el cliente pide una mesa para más de 12 personas (reserva especial).\"\n  ],\n  \"tools\": [\n    { \"name\": \"mensaje\", \"usage\": \"Comunicación con el cliente.\" },\n    { \"name\": \"consultar_disponibilidad\", \"usage\": \"Verificar si hay mesas libres en la fecha/hora pedida.\" },\n    { \"name\": \"registrar_reserva\", \"usage\": \"Guardar la reserva una vez confirmados los datos.\" }\n  ],\n  \"flow\": {\n    \"steps\": [\n      { \"step\": \"inicio\", \"input\": \"¡Excelente! Me encantaría ayudarte a reservar una mesa. ¿Para cuántas personas sería y para qué fecha y hora?\" },\n      { \"step\": \"validacion\", \"condition\": \"Datos completos\", \"next_step\": \"confirmacion\", \"on_failure\": \"Pedir datos faltantes amablemente.\" }\n    ]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4480,
        1600
      ],
      "id": "c4ec2b93-2fe5-4ce8-bc39-3ad884bd22a1",
      "name": "Agente Reserva Mesas"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=📌 Mensaje recibido por usuario: {{ $('Extractormensajes').item.json.text.body }}\n📌 Id de usuario: {{ $('Extractormensajes').item.json.from }}\n",
        "options": {
          "systemMessage": "You are a helpful assistant{\n  \"name\": \"Wilson - Eventos\",\n  \"context\": {\n    \"identity\": \"Soy Wilson, coordinador de eventos de la PICANTERÍA LURWIS. Ayudo a organizar momentos inolvidables en nuestro local.\",\n    \"business\": \"Alquiler de local, catering para eventos, cumpleaños y reuniones corporativas.\",\n    \"language\": \"es\"\n  },\n  \"objectives\": [\n    \"Identificar el tipo de evento (cumpleaños, corporativo, etc.).\",\n    \"Recolectar: Fecha estimada, cantidad aproximada de invitados y si requieren servicios extra (música, menú especial).\",\n    \"Explicar brevemente las ventajas de nuestro local.\",\n    \"Informar que un coordinador humano revisará los detalles finales para enviar un presupuesto formal.\"\n  ],\n  \"tools\": [\n    { \"name\": \"mensaje\", \"usage\": \"Comunicación con el cliente.\" },\n    { \"name\": \"add_human_service\", \"usage\": \"Indispensable para cerrar la venta del evento.\" }\n  ],\n  \"flow\": {\n    \"steps\": [\n      { \"step\": \"inicio\", \"input\": \"¡Qué buena noticia! Nuestro local es perfecto para celebraciones. Cuéntame, ¿qué tipo de evento planeas y para cuántas personas aproximadamente?\" }\n    ]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4512,
        1168
      ],
      "id": "077a1b4f-05e1-464e-8bc2-efb732951329",
      "name": "Agente Reservas Local"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=📌 Mensaje recibido por usuario: {{ $('Extractormensajes').first().json.text.body }}\n📌 Id de usuario: {{ $('Extractormensajes').first().json.from }}\n📌 Contexto Interno: {{ $('Validar si tiene pedido o no').first()?.json?.id ? 'MODIFICACIÓN DE PEDIDO EXISTENTE. El cliente ya tiene este pedido guardado: ' + JSON.stringify($('Validar si tiene pedido o no').first().json.detalle_pedido) : 'ES UN PEDIDO NUEVO.' }}",
        "options": {
          "systemMessage": "<ROL>\nEres Wilson, el asistente de pedidos estrella de PICANTERÍA LURWIS 🦐. Eres amable, conciso y usas emojis con moderación.\n</ROL>\n\n<REGLAS_DE_FORMATO>\n- NUNCA incluyas texto como \"[Used tools:\", \"Tool:\", \"Input:\", \"Result:\" ni contenido técnico interno.\n- Tu respuesta es SOLO el mensaje final que el cliente leerá en WhatsApp.\n- Todo tu razonamiento ocurre en silencio, invisible para el cliente.\n- Para listas usa números (1. 2. 3.) o guiones (-), NUNCA asteriscos como bullets.\n- Usa *negrita* ÚNICAMENTE para estos 5 casos:\n  1. El total final (ej: *S/ 64.00*)\n  2. La palabra *confirmo*\n  3. El tipo de servicio (ej: *Recojo* o *Delivery*)\n  4. El método de pago (ej: *Yape*, *Efectivo*, *Tarjeta*, *Plin*)\n  5. El nombre del cliente al dirigirte a él por primera vez en el mensaje\n- En todo lo demás, escribe texto plano sin formato.\n</REGLAS_DE_FORMATO>\n\n<LIMITES_DEL_MENU>\n⚠️ REGLA DE SENTIDO COMÚN:\nEres el asistente de PICANTERÍA LURWIS, un restaurante especializado EXCLUSIVAMENTE en pescados, mariscos y comida criolla peruana (ceviches, chicharrones, sudados, etc.).\n- Si el cliente te pide comida rápida (pizzas, hamburguesas, pollo a la brasa, sushi, tacos, salchipapas, etc.) o cosas que es OBVIO que una picantería no vende, TIENES QUE FRENARLO DE INMEDIATO.\n- No le digas que \"vas a buscar\" esos platos.\n- Rechaza el pedido amablemente, dile con un toque de humor que aquí somos expertos en comida marina, y ofrécele mostrarle tus categorías reales.\n- Haz esto INCLUSO si aún no te ha dicho su nombre.\n</LIMITES_DEL_MENU>\n\n<POLITICA_DE_PRECIOS>\n- Los precios de 'verificar_plato' son SAGRADOS. \n- Si el cliente regatea: RECHAZA el descuento amablemente, COTIZA el plato al precio real, pero NO pidas \"confirmo\" todavía. \n- Acción obligatoria: Primero pregunta si el cliente acepta el precio oficial. \n- Ejemplo: \"Lo siento, el precio es fijo (S/ 35.00) por la calidad. ¿Deseas que procedamos con tu pedido por ese monto? Si es así, confírmame si será para Delivery o Recojo.\"\n</POLITICA_DE_PRECIOS>\n\n<RESTRICCIONES_DE_DATOS>\n- SOLO usa las tools para consultar platos, categorías y precios.\n- NUNCA inventes un plato o un precio. Si la tool no lo devuelve, no existe.\n</RESTRICCIONES_DE_DATOS>\n\n<FLUJO_DE_CONVERSACION>\nPaso 1: Saluda y obtén el nombre del cliente (SI el cliente ya te dio su nombre o detalles del pedido en su mensaje inicial, omite preguntar y avanza directamente al Paso 2).\nPaso 2: Usa 'consultar_categorias' y muestra la lista.\nPaso 3: Cuando elija categoría, usa 'consultar_platos' y muestra las opciones.\nPaso 4: Cuando elija plato, usa 'verificar_plato' para calcular el subtotal.\nPaso 5: Pregunta si desea algo más. Si dice que no, avanza.\nPaso 6: Pregunta por el tipo de servicio (Delivery 🛵 o Recojo 🏠) y Método de pago (Yape/Plin/Efectivo/Tarjeta).\nPaso 7: Muestra el resumen detallado de la orden y el total a pagar. Pregunta exactamente esto: \"¿Todo conforme? Escribe la palabra *confirmo* para registrar tu pedido.\"\n</FLUJO_DE_CONVERSACION>\n\n<REGLAS_DE_MEMORIA>\n- Si el usuario menciona múltiples datos de golpe, absórbelos todos.\n- Si por tu memoria de conversación ya conoces el nombre del cliente, método de pago o tipo de servicio, NUNCA se lo vuelvas a preguntar. Trátalo por su nombre directamente.\n</REGLAS_DE_MEMORIA>\n\n<MODO_MODIFICACION>\nSi el \"Contexto Interno\" indica que es una MODIFICACIÓN DE PEDIDO EXISTENTE o el cliente pide agregar/quitar algo:\n1. Omite los Pasos 1, 2 y 3 del flujo inicial. Ya conoces al cliente.\n2. Usa tus tools para buscar los platos nuevos que te está pidiendo (ej. consultar_platos y verificar_plato).\n3. Suma los platos nuevos al pedido que el cliente ya tenía guardado.\n4. Muéstrale un NUEVO resumen completo que incluya todo (lo anterior + lo nuevo) y el NUEVO TOTAL actualizado.\n5. Pregunta: \"¿Todo conforme? Escribe *confirmo* para actualizar tu orden.\"\n</MODO_MODIFICACION>\n\n<ATAJOS_PERMITIDOS>\nSi el cliente menciona un plato específico desde el principio (ej: \"quiero un carretillero\"), ESTÁS AUTORIZADO A SALTARTE EL PASO 2 Y 3. \n⚠️ REGLA ESTRICTA: ESTÁ TOTALMENTE PROHIBIDO preguntarle al cliente a qué categoría pertenece el plato. \nDebes deducirlo tú mismo. Llama a 'consultar_categorias', mira las opciones, y usa 'consultar_platos' en la categoría que tu lógica dicte que es la más probable (ej. Ceviches o Platos a la Carta) hasta que encuentres el plato. ¡Tú debes hacer el trabajo de búsqueda en silencio!\nUna vez encuentres el plato y calcules el precio con 'verificar_plato', muestra el resumen y pregunta si todo está conforme antes de finalizar (nunca te saltes el Paso 7).\n</ATAJOS_PERMITIDOS>\n\n<VALIDACION_DE_IDENTIDAD>\n- No puedes dar por terminado un pedido si no conoces el nombre REAL del cliente.\n- El \"profile_name\" de WhatsApp NO cuenta como nombre real ni válido para la base de datos.\n- Si el cliente da sus platos, método de pago y servicio, pero NO ha dicho su nombre, DEBES detener el flujo y pedirlo amablemente.\n- Ejemplo: \"¡Excelente elección! Ya tengo casi todo listo, pero para registrar tu orden correctamente, ¿podrías decirme tu nombre, por favor?\"\n- REGLA DE ORO: No pidas la palabra \"confirmo\" ni generes el JSON hasta que el campo 'nombre' tenga un valor proporcionado por el usuario en el chat.\n</VALIDACION_DE_IDENTIDAD>\n\n<CONTROL_DE_ESTADOS_ESTRICTO>\nAntes de responder, evalúa en qué estado de la conversación estás y aplica UNA sola regla:\n\nCASO A: El cliente NO ha escrito la palabra \"confirmo\" (está haciendo un pedido nuevo, dando datos de golpe, o modificando algo).\n- REGLA ABSOLUTA: TIENES TOTALMENTE PROHIBIDO GENERAR EL FORMATO JSON. Ni se te ocurra.\n- Acción obligatoria: Procesa la info, usa tools si es necesario, arma el resumen amigable en texto normal, extrae su nombre real de la conversación, y FINALIZA siempre tu mensaje con: \"¿Todo conforme? Escribe *confirmo* para registrar tu orden.\"\n\nCASO B: El cliente escribe explícitamente \"confirmo\", \"sí confirmo\", o aprueba el resumen que le mostraste.\n- REGLA ABSOLUTA: MODO MÁQUINA ACTIVADO. PROHIBIDO ESCRIBIR TEXTO NATURAL.\n- Acción obligatoria: Genera ÚNICA Y EXCLUSIVAMENTE el objeto JSON puro.\n\nFormato del JSON para el CASO B:\n{\n  \"nombre\": \"Nombre real del cliente extraído de la conversación\",\n  \"direccion\": \"Dirección detallada o 'Sin dirección'\",\n  \"tiposervicio\": \"Delivery o Recojo\",\n  \"metodopago\": \"Método capturado\",\n  \"pedido\": \"Resumen en texto plano de platos y cantidades\",\n  \"total\": 00.00\n}\n\n⚠️ REGLA DE IDENTIDAD: Si al llegar al momento de mostrar el resumen final (Paso 7) notas que aún no conoces el nombre del cliente, DEBES pedirlo amablemente antes de solicitar el \"confirmo\". No puedes generar un JSON con el nombre vacío.\n</CONTROL_DE_ESTADOS_ESTRICTO>\n\n⚠️ NUNCA pidas la palabra \"confirmo\" hasta que tengas los 4 pilares: 1. Platos confirmados, 2. Nombre, 3. Tipo de servicio (Delivery/Recojo) y 4. Método de pago."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        4464,
        2032
      ],
      "id": "08f058ce-4109-4c65-90ea-c110c0f57ea7",
      "name": "Agente Pedidos",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "RESERVAS_LOCAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "73a561a9-b57e-4bcc-95f2-636f3bcefdcc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ruta Eventos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5cf4fb8d-b7ff-4495-b498-91892f2da686",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "RESERVAS_MESA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ruta Reservas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a7ad0812-705b-4fcf-a73c-67d343d183be",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "PEDIDOS",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ruta Pedidos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ec0cde23-6ca0-4e19-b891-4c1e0c217b2c",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "GENERAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Ruta General"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3200,
        1920
      ],
      "id": "f2b89ad9-33d3-497e-a5aa-ee1af143ff68",
      "name": "Clasificador especializado a cada Agente"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, detalle_pedido, total_final, estado_pedido \nFROM pedidos_picanteria \nWHERE TRIM(telefono) = TRIM('{{ $('Extractormensajes').item.json.from }}')\nAND estado_pedido NOT IN ('entregado', 'cancelado')\nLIMIT 1\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1888,
        1920
      ],
      "id": "01872d2f-6d4f-476c-9d59-4d9b2106f19e",
      "name": "Validar si tiene pedido o no",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "5nRuBkRnPEOnj0KP",
          "name": "Postgres Lurwis db"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5b996416-9aca-4abc-97f5-9805f1cad311",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2048,
        1632
      ],
      "id": "833aba72-1f33-4cb1-8382-341f3ab2a4eb",
      "name": "¿Tiene Pedido Pendiente?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=📌 Mensaje recibido por usuario: {{ $('Extractormensajes').item.json.text.body }}\n📌 Id de usuario: {{ $('Extractormensajes').item.json.from }}\n",
        "options": {
          "systemMessage": "=Analiza la intención del cliente:\n\nSi el cliente quiere:\n- Hacer un pedido nuevo\n- Modificar su pedido actual\n- Añadir más productos\n- Cambiar algo de su pedido\n- Actualizar su orden\n\nResponde: \"ACCIÓN:MODIFICAR - [breve explicación]\"\n\nSi el cliente SOLO quiere:\n- Saber el estado de su pedido\n- Consultar información\n- Preguntar cuánto falta\n\nResponde: \"ACCIÓN:CONSULTAR - El estado actual es: {{ $node[\"Validar si tiene pedido o no\"].json[\"estado_pedido\"] }}\"\n\nIMPORTANTE: Tu respuesta DEBE comenzar con \"ACCIÓN:MODIFICAR\" o \"ACCIÓN:CONSULTAR\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2576,
        1376
      ],
      "id": "0ea0d867-278e-41f1-94d3-3f318acd394d",
      "name": "Detector de pedidos",
      "retryOnFail": false,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Extractormensajes').first().json.from }}",
        "collectionName": "historial_clasificador",
        "databaseName": "picanteria_db"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        2624,
        2128
      ],
      "id": "fde96f22-5567-437e-836a-7a53506226ec",
      "name": "Memoria de clasificación",
      "credentials": {
        "mongoDb": {
          "id": "rEzqy3CH5hFmOQ2S",
          "name": "Memoria chats Lurwis"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Extractormensajes').first().json.from }}",
        "collectionName": "historial_detector",
        "databaseName": "picanteria_db"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        2624,
        1552
      ],
      "id": "6f37fd41-e9da-4daf-8ec6-0eea63729621",
      "name": "Memoria de tiene pedido o no",
      "notesInFlow": false,
      "credentials": {
        "mongoDb": {
          "id": "rEzqy3CH5hFmOQ2S",
          "name": "Memoria chats Lurwis"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Extractormensajes').first().json.from }}",
        "collectionName": "historial_pedidos",
        "databaseName": "picanteria_db",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        4448,
        2352
      ],
      "id": "b720714e-2313-46d1-83ad-027fcc686f5b",
      "name": "Memoria de Pedidos",
      "credentials": {
        "mongoDb": {
          "id": "rEzqy3CH5hFmOQ2S",
          "name": "Memoria chats Lurwis"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Extractormensajes').first().json.from }}",
        "collectionName": "historial_eventos",
        "databaseName": "picanteria_db",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        4560,
        1376
      ],
      "id": "8700bf3e-6e2d-4aba-994f-5c76daf9a3fb",
      "name": "Memoria de Reserva de Local",
      "credentials": {
        "mongoDb": {
          "id": "rEzqy3CH5hFmOQ2S",
          "name": "Memoria chats Lurwis"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Extractormensajes').first().json.from }}",
        "collectionName": "historial_reservas",
        "databaseName": "picanteria_db",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        4576,
        1792
      ],
      "id": "26bffa44-eb41-47cb-a45e-b9f9d391c900",
      "name": "Memoria de Reservas de Mesas",
      "credentials": {
        "mongoDb": {
          "id": "rEzqy3CH5hFmOQ2S",
          "name": "Memoria chats Lurwis"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Extractormensajes').first().json.from }}",
        "collectionName": "historial_general",
        "databaseName": "picanteria_db",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        4464,
        2896
      ],
      "id": "60a5810c-d474-47bf-a4d2-9eeea2ad3b49",
      "name": "Memoria de consultas generales",
      "credentials": {
        "mongoDb": {
          "id": "rEzqy3CH5hFmOQ2S",
          "name": "Memoria chats Lurwis"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.accion }}",
                    "rightValue": "CONSULTAR",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "170bfbed-2e38-4fde-a288-ddfbbde09e5e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No modifica"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "07df12eb-af24-484e-98f2-0c4e15755d92",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "MODIFICAR",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Modifica"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        3248,
        1376
      ],
      "id": "0ac78a1d-c1c4-4d56-8fb6-0c8cc6c05a86",
      "name": "¿Qué eligió el cliente?"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $json['id mensajero'] }}",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        3728,
        1296
      ],
      "id": "bab22885-44e1-433f-9076-df6b6f5f80d1",
      "name": "Nodo INFO de pedido",
      "webhookId": "d5ef5e65-aa67-40e3-9e1b-f7794b27da0f",
      "credentials": {
        "whatsAppApi": {
          "id": "zJi8oUdszoG5oEqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b00d7882-05a3-4194-85df-ee95a91641ab",
              "leftValue": "={{ $('Validar si tiene pedido o no').first().json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5664,
        2128
      ],
      "id": "65f011bb-3f20-4798-bb7a-46e824ce8a4b",
      "name": "¿Es pedido nuevo o existente?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE pedidos_picanteria \nSET \n  cliente_nombre = '{{ $json.nombre }}',\n  detalle_pedido = '{{ JSON.stringify({descripcion: $json.pedidodetallado}) }}'::jsonb,\n  total_final = {{ $json.total }},\n  metodo_pago = '{{ $json.metodopago }}',\n  tipo_servicio = '{{ $json.tiposervicio }}',\n  estado_pedido = 'confirmado'\nWHERE id = '{{ $('Validar si tiene pedido o no').first().json.id }}'::uuid\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5984,
        2000
      ],
      "id": "d4bbac38-cc96-450c-ae83-7ac5cc5d6b4d",
      "name": "Modificar Pedido",
      "credentials": {
        "postgres": {
          "id": "5nRuBkRnPEOnj0KP",
          "name": "Postgres Lurwis db"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Code in JavaScript').first().json['id mensajero'] }}",
        "recipientPhoneNumber": "={{ $('Code in JavaScript').first().json.from }}",
        "textBody": "=¡Pedido modificado Confirmado! ✅\n\nListo! {{ $('Code in JavaScript').first().json.nombre }} 👋, hemos actualizado tu orden correctamente con los cambios. Así quedó tu pedido final:\n\n🧾 *Nuevo resumen del Pedido:*\n{{ $('Code in JavaScript').first().json.pedidodetallado }}\n\n💰 *Total a pagar:* S/ {{ $('Code in JavaScript').first().json.total }}\n💳 *Método de pago:* {{ $('Code in JavaScript').first().json.metodopago }}\n🛵 *Tipo de servicio:* {{ $('Code in JavaScript').first().json.tiposervicio }}\n\nEn cuanto su pedido esté listo le avisaremos 💫.\nGracias por su compra, Picantería Lurwis les desea buen provecho 🦐\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        6448,
        1888
      ],
      "id": "6e3b53e7-649b-40bc-9567-5dcc5208fdcd",
      "name": "Enviar mensaje FInal Modificado",
      "webhookId": "109690cf-0591-406b-8a9f-869eecc0176a",
      "credentials": {
        "whatsAppApi": {
          "id": "zJi8oUdszoG5oEqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Code in JavaScript').first().json['id mensajero'] }}",
        "recipientPhoneNumber": "={{ $('Code in JavaScript').first().json.from }}",
        "textBody": "=¡Pedido Confirmado! ✅\n\nHola {{ $('Code in JavaScript').first().json.nombre }} 👋, hemos recibido tu orden exitosamente ¡tu orden ya está en cocina! 👨‍🍳.\n\n🧾 *Resumen del Pedido:*\n{{ $('Code in JavaScript').first().json.pedidodetallado }}\n\n💰 *Total a pagar:* S/ {{ $('Code in JavaScript').first().json.total }}\n💳 *Método de pago:* {{ $('Code in JavaScript').first().json.metodopago }}\n🛵 *Tipo de servicio:* {{ $('Code in JavaScript').first().json.tiposervicio }}\n\nEn cuanto su pedido esté listo le avisaremos 💫.\nGracias por su compra, Picantería Lurwis les desea buen provecho 🦐\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        6448,
        2256
      ],
      "id": "c36a27a0-90b8-415d-b3a9-4ed20a342002",
      "name": "Enviar mensaje FInal nuevo Pedido",
      "webhookId": "109690cf-0591-406b-8a9f-869eecc0176a",
      "credentials": {
        "whatsAppApi": {
          "id": "zJi8oUdszoG5oEqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ── FUENTES DE DATOS ──\nconst agenteOutput = $('Agente Pedidos').first()?.json?.output ?? '';\nconst datosUsuario = {\n  from:        $('Extractormensajes').first().json.from,\n  idMensajero: $('Extractormensajes').first().json['id mensajero'],\n  profilename: $('Extractormensajes').first().json.profile_name ?? 'Cliente',\n  idMensaje:   $('Extractormensajes').first().json['id cliente'],\n};\n\n// ── GUARDIA ──\nif (!agenteOutput || agenteOutput.trim().length === 0) {\n  return [{ json: { output: 'Lo siento, no pude procesar tu mensaje.', totalfinal: 0, from: datosUsuario.from, 'id mensajero': datosUsuario.idMensajero }}];\n}\n\n// ── DETECCIÓN CONFIRMACIÓN ESTRICTA ──\nconst textoUsuario = $('Extractormensajes').first().json.text?.body ?? '';\nconst esConfirmacion = /\\bconfirm[oa]\\b/i.test(textoUsuario);\n\n// Si el cliente NO ha dicho \"confirmo\", forzamos a que no vaya a la DB (totalfinal = 0)\nif (!esConfirmacion) {\n    return [{ json: {\n        output: agenteOutput,\n        totalfinal: 0,  // <-- ESTE ES EL FRENO DE MANO\n        from: datosUsuario.from,\n        'id mensajero': datosUsuario.idMensajero,\n        id: datosUsuario.idMensaje\n    }}];\n}\n\n// SI DIJO CONFIRMO, extraemos el JSON puro que generó la IA:\nlet datosParsed = null;\nlet metodo = 'FALL';\n\nconst matchJSON = agenteOutput.match(/\\{[\\s\\S]*?\\}/);\nif (matchJSON) {\n    try {\n        datosParsed = JSON.parse(matchJSON[0]);\n        metodo = 'JSON_EXTRAIDO';\n    } catch(e) {}\n}\n\nconst totalFinal = parseFloat(datosParsed?.total ?? 0) || 0;\nconst pedidoFinal = datosParsed?.pedido ?? 'Pedido sin detallar';\n\n// Ocultamos el JSON del mensaje que verá el cliente\nconst outputFinal = agenteOutput.replace(/\\{[\\s\\S]*?\\}/g, '').trim() || '¡Perfecto! Procesando tu orden...';\n\nreturn [{ json: {\n  output:           outputFinal,\n  nombre: datosParsed?.nombre || \"⚠️ CLIENTE POR IDENTIFICAR\",\n  direccion:        datosParsed?.direccion ?? 'No especificada',\n  metodopago:       datosParsed?.metodopago   ?? 'Efectivo',\n  tiposervicio:     datosParsed?.tiposervicio  ?? 'Recojo',\n  pedidodetallado:  pedidoFinal,\n  total:            totalFinal,\n  totalfinal:       totalFinal, // Ahora sí va a la DB\n  telefono:         datosParsed?.telefono  ?? datosUsuario.from,\n  metodoextraccion: metodo,\n  from:             datosUsuario.from,\n  'id mensajero':   datosUsuario.idMensajero,\n  id:               datosUsuario.idMensaje,\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5152,
        2144
      ],
      "id": "8d1f1e53-d116-448a-a400-a41bafbdbf0a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "346bf4ad-5947-4617-b924-80d292c7de06",
              "leftValue": "={{ $json.totalfinal }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5344,
        2144
      ],
      "id": "337db58b-ecc0-4eb6-89c3-1dc87df8b232",
      "name": "¿Es Venta Final?"
    },
    {
      "parameters": {
        "jsCode": "// Obtener la respuesta del agente Detector\nconst respuesta = $json.output.toLowerCase();\n\n// Palabras clave que indican modificación de pedido\nconst palabrasModificar = [\n  'modificar', 'cambiar', 'añadir', 'agregar',\n  'actualizar', 'editar', 'quiero', 'comprar',\n  'pedir', 'delivery', 'pedido', 'orden'\n];\n\n// Palabras clave que indican solo consulta\nconst palabrasConsultar = [\n  'estado', 'consultar', 'saber', 'información',\n  'cuánto falta', '¿cómo va', 'avance'\n];\n\n// Contar coincidencias\nlet puntosModificar = 0;\nlet puntosConsultar = 0;\n\npalabrasModificar.forEach(palabra => {\n  if (respuesta.includes(palabra)) puntosModificar++;\n});\n\npalabrasConsultar.forEach(palabra => {\n  if (respuesta.includes(palabra)) puntosConsultar++;\n});\n\n// Decidir la acción\nlet accion;\nif (puntosModificar > puntosConsultar) {\n  accion = \"MODIFICAR\";\n} else if (puntosConsultar > 0) {\n  accion = \"CONSULTAR\";\n} else {\n  // Por defecto, si no está claro, asumir modificación\n  accion = \"MODIFICAR\";\n}\n\n// Retornar resultado\nreturn {\n  json: {\n    output: $json.output,\n    accion: accion,\n    puntos_modificar: puntosModificar,\n    puntos_consultar: puntosConsultar,\n    respuesta_original: respuesta\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        1376
      ],
      "id": "911fc84a-4e7e-411d-8afe-81ac64e6c4e9",
      "name": "Analizador Intención Flexible"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Code in JavaScript').first().json['id mensajero'] }}",
        "recipientPhoneNumber": "={{ $('Code in JavaScript').first().json.from }}",
        "textBody": "=😔 Lo sentimos, hubo un problema al procesar tu pedido.\n\nPor favor, intenta nuevamente en unos minutos o contáctanos directamente.\n\nReferencia del error: MOD-{{ $now.toFormat('yyyyMMddHHmmss') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        6448,
        2080
      ],
      "id": "fc5752c9-a997-447a-b40e-871a5e07910a",
      "name": "Notificar Error DB - Modificar",
      "webhookId": "109690cf-0591-406b-8a9f-869eecc0176a",
      "credentials": {
        "whatsAppApi": {
          "id": "zJi8oUdszoG5oEqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Code in JavaScript').first().json['id mensajero'] }}",
        "recipientPhoneNumber": "={{ $('Code in JavaScript').first().json.from }}",
        "textBody": "==😔 Lo sentimos, hubo un problema al guardar tu pedido.\n\nPor favor, intenta nuevamente en unos minutos o contáctanos directamente.\n\nReferencia del error: INS-{{ $now.toFormat('yyyyMMddHHmmss') }}\n\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        6448,
        2432
      ],
      "id": "46884360-653b-47e0-b155-8743d4897913",
      "name": "Notificar Error DB - Insertar",
      "webhookId": "109690cf-0591-406b-8a9f-869eecc0176a",
      "credentials": {
        "whatsAppApi": {
          "id": "zJi8oUdszoG5oEqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nombre \nFROM categorias \nWHERE activo = true \nORDER BY id\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        4848,
        2288
      ],
      "id": "9e0b735f-c7ef-471c-884c-bc8446289a33",
      "name": "consultar_categorias",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "postgres": {
          "id": "5nRuBkRnPEOnj0KP",
          "name": "Postgres Lurwis db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.id,\n  p.nombre,\n  p.descripcion,\n  json_agg(\n    json_build_object('tamanio', pp.tamanio, 'precio', pp.precio)\n    ORDER BY pp.precio\n  ) AS precios\nFROM platos p\nJOIN plato_precios pp ON pp.plato_id = p.id\nWHERE p.categoria_id = {{ $fromAI('categoriaid', 'ID numérico de la categoría elegida', 'number') }}\nAND p.activo = true\nAND pp.activo = true\nGROUP BY p.id, p.nombre, p.descripcion\nORDER BY p.nombre\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        4704,
        2288
      ],
      "id": "ee906027-5ed4-4242-ac87-b53b0a3cfe58",
      "name": "consultar_platos",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "postgres": {
          "id": "5nRuBkRnPEOnj0KP",
          "name": "Postgres Lurwis db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.nombre,\n  pp.tamanio,\n  pp.precio AS precio_unitario,\n  {{ $fromAI('cantidad', 'Cantidad de unidades, default 1', 'number') }}::int AS cantidad,\n  (pp.precio * {{ $fromAI('cantidad', 'Cantidad de unidades, default 1', 'number') }}::int) AS subtotal\nFROM platos p\nJOIN plato_precios pp ON pp.plato_id = p.id\nWHERE p.id = {{ $fromAI('platoid', 'ID numérico del plato', 'number') }}\nAND LOWER(pp.tamanio) = LOWER('{{ $fromAI('tamanio', 'Tamaño: Personal, Familiar o Único', 'string') }}')\nAND p.activo = true\nAND pp.activo = true\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        4576,
        2304
      ],
      "id": "12729588-fabf-4f5f-86ce-ce4d9ccaebee",
      "name": "verificar_plato",
      "rewireOutputLogTo": "ai_tool",
      "credentials": {
        "postgres": {
          "id": "5nRuBkRnPEOnj0KP",
          "name": "Postgres Lurwis db"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2448,
        1584
      ],
      "id": "ddd7a13b-6ced-44cf-87b1-8b2d2c764b55",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "EGUpckskyMrPNfc4",
          "name": "Modelo Lurwis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2432,
        2160
      ],
      "id": "21b8d06a-9c3d-4f66-93e4-c13f50d4c997",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "EGUpckskyMrPNfc4",
          "name": "Modelo Lurwis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4384,
        1376
      ],
      "id": "cc1f4e8a-da08-47a0-8d50-b6184ab84311",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "EGUpckskyMrPNfc4",
          "name": "Modelo Lurwis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4352,
        1808
      ],
      "id": "278794b1-8c07-4226-99b9-d4d1bcd91870",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "EGUpckskyMrPNfc4",
          "name": "Modelo Lurwis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4336,
        2240
      ],
      "id": "9f9cc90f-801b-412e-b492-c11e0f489bd6",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "EGUpckskyMrPNfc4",
          "name": "Modelo Lurwis"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4256,
        2832
      ],
      "id": "9c2e952a-b4b5-44a6-9f98-9046655e8e9b",
      "name": "Google Gemini Chat Model5",
      "credentials": {
        "googlePalmApi": {
          "id": "EGUpckskyMrPNfc4",
          "name": "Modelo Lurwis"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3952,
        2048
      ],
      "id": "54c7cdca-5620-4465-9b2e-72d58d32010a",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pedidos_picanteria \n  (telefono, cliente_nombre, detalle_pedido, total_estimado, total_final, metodo_pago, tipo_servicio, estado_pedido)\nVALUES \n  (\n    '{{ $('Extractormensajes').first().json.from }}',\n    '{{ $json.nombre }}',\n    '{{ JSON.stringify({descripcion: $json.pedidodetallado}) }}'::jsonb,\n    {{ $json.total }},\n    {{ $json.total }},\n    '{{ $json.metodopago }}',\n    '{{ $json.tiposervicio }}',\n    'confirmado'\n  )\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5984,
        2320
      ],
      "id": "d5c499e2-8fb8-4e21-8350-d5f46e934cf2",
      "name": "Insertar Pedido",
      "credentials": {
        "postgres": {
          "id": "5nRuBkRnPEOnj0KP",
          "name": "Postgres Lurwis db"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs_auditoria (pedido_id, telefono, nombre_cliente, historial_chat)\nVALUES (\n  '{{ $json.id }}'::uuid,\n  '{{ $('Extractormensajes').first().json.from }}',\n  '{{ $('Code in JavaScript').first().json.nombre }}',\n  '{{ JSON.stringify($('Memoria de Pedidos').first().json.messages) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6192,
        2320
      ],
      "id": "f2aa601f-702e-4a2c-adea-b73f5e4ff5e0",
      "name": "Guardar Logs",
      "credentials": {
        "postgres": {
          "id": "5nRuBkRnPEOnj0KP",
          "name": "Postgres Lurwis db"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO logs_auditoria (pedido_id, telefono, nombre_cliente, historial_chat)\nVALUES (\n  '{{ $json.id }}'::uuid,\n  '{{ $('Extractormensajes').first().json.from }}',\n  '{{ $('Code in JavaScript').first().json.nombre }}',\n  '{{ JSON.stringify($('Memoria de Pedidos').first().json.messages) }}'::jsonb\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6192,
        2000
      ],
      "id": "d488deeb-7db3-4914-8942-61f8a80aa89f",
      "name": "Guardar Logs2",
      "credentials": {
        "postgres": {
          "id": "5nRuBkRnPEOnj0KP",
          "name": "Postgres Lurwis db"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "description": "Llama a esta herramienta SIEMPRE que el cliente pregunte por horarios, ubicación, métodos de pago, redes sociales o información general del restaurante.",
        "jsCode": "// Base de datos de conocimiento de Picantería Lurwis\nconst faq = `\nINFORMACIÓN GENERAL DE PICANTERÍA LURWIS:\n\n📍 UBICACIÓN:\nEstamos ubicados en la Ciudad de dios, San José.\nDirección: MZG_LT24, Cd de Dios 14013\nGoogle Maps: https://maps.app.goo.gl/1DKHY1HEaqDwG5LJA\n\n⏰ HORARIOS DE ATENCIÓN:\nLunes a Domingo: 11:00 AM a 5:00 PM.\nMartes: No hay atención.\n\n💳 MÉTODOS DE PAGO ACEPTADOS:\nAceptamos Yape, Plin, Efectivo y Tarjeta.\n\n📱 REDES SOCIALES:\nFacebook: https://www.facebook.com/picanteria.lurwis\nInstagram: @pican_terialurwis\nTiktok: https://www.tiktok.com/@picanteria_lurwis1023\n\n🛵 SOBRE EL DELIVERY:\nHacemos envíos a todo Lambayeque. El costo de envío depende de la distancia y se calcula al hacer el pedido (Se le adicionarán 2 soles por envase descartable).\n`;\n\nreturn faq;"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        4608,
        2864
      ],
      "id": "3a608329-edb9-4a52-bb3b-c9683ae804b2",
      "name": "buscar_info_general"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Extractormensajes').first().json['id mensajero'] }}",
        "recipientPhoneNumber": "={{ $('Extractormensajes').first().json.from }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        4864,
        2832
      ],
      "id": "2921cbe3-974e-40d8-b114-c4c2e45d2297",
      "name": "Charla General",
      "webhookId": "109690cf-0591-406b-8a9f-869eecc0176a",
      "credentials": {
        "whatsAppApi": {
          "id": "zJi8oUdszoG5oEqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $json['id mensajero'] }}",
        "recipientPhoneNumber": "={{ $json.from }}",
        "textBody": "={{ $('Code in JavaScript').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        5664,
        2320
      ],
      "id": "28339a76-00aa-49fd-954d-e88ec478a8cb",
      "name": "Charla Pedido",
      "webhookId": "d5ef5e65-aa67-40e3-9e1b-f7794b27da0f",
      "credentials": {
        "whatsAppApi": {
          "id": "zJi8oUdszoG5oEqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9822421b-29ce-4dcd-a63e-30affcd69975",
              "leftValue": "={{ $now.setZone('America/Lima').hour }}",
              "rightValue": 23,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "b653041e-7ef8-45e7-a371-4bc65e21b484",
              "leftValue": "={{ $now.setZone('America/Lima').hour }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        2368
      ],
      "id": "bb2d4500-d29e-41d8-9161-c734c0a79a5c",
      "name": "¿Está en horario de atención?"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "={{ $('Extractormensajes').first().json['id mensajero'] }}",
        "recipientPhoneNumber": "={{ $('Extractormensajes').first().json.from }}",
        "textBody": "🌙 ¡Hola! Gracias por comunicarte con Picantería Lurwis.\n\nEn este momento nos encontramos descansando para preparar los ingredientes más frescos. 👨‍🍳\n\n🕒 Nuestros horarios de atención son:\nLunes a Domingo de 10:00 AM a 6:00 PM.\n\nPor favor, escríbenos mañana dentro de ese horario y Wilson estará feliz de tomar tu pedido. ¡Que tengas un excelente día! 🦐",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1920,
        2432
      ],
      "id": "6df94551-e894-4ebe-972b-e31e5ec66acd",
      "name": "Enviar Mensaje Cerrado",
      "webhookId": "5168b385-a618-40a1-b766-77c731f90a27",
      "credentials": {
        "whatsAppApi": {
          "id": "zJi8oUdszoG5oEqW",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Redis: Buscar usuarios activos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Expandir usuarios": {
      "main": [
        [
          {
            "node": "Redis: Leer Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Buscar usuarios activos": {
      "main": [
        [
          {
            "node": "Code: Expandir usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Leer Timestamp": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis: Leer Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Leer Buffer": {
      "main": [
        [
          {
            "node": "Redis: Leer Meta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Leer Meta": {
      "main": [
        [
          {
            "node": "Redis: Eliminar Buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Eliminar Buffer": {
      "main": [
        [
          {
            "node": "Redis: Eliminar Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis: Eliminar Timestamp": {
      "main": [
        [
          {
            "node": "Extractormensajes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extractormensajes": {
      "main": [
        [
          {
            "node": "¿Está en horario de atención?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente General": {
      "main": [
        [
          {
            "node": "Charla General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Clasificador": {
      "main": [
        [
          {
            "node": "Clasificador especializado a cada Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Pedidos": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clasificador especializado a cada Agente": {
      "main": [
        [
          {
            "node": "Agente Reservas Local",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Reserva Mesas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar si tiene pedido o no": {
      "main": [
        [
          {
            "node": "¿Tiene Pedido Pendiente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Tiene Pedido Pendiente?": {
      "main": [
        [
          {
            "node": "Detector de pedidos",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Clasificador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detector de pedidos": {
      "main": [
        [
          {
            "node": "Analizador Intención Flexible",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memoria de clasificación": {
      "ai_memory": [
        [
          {
            "node": "Agente Clasificador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memoria de tiene pedido o no": {
      "ai_memory": [
        [
          {
            "node": "Detector de pedidos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memoria de Pedidos": {
      "ai_memory": [
        [
          {
            "node": "Agente Pedidos",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memoria de Reserva de Local": {
      "ai_memory": [
        [
          {
            "node": "Agente Reservas Local",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memoria de Reservas de Mesas": {
      "ai_memory": [
        [
          {
            "node": "Agente Reserva Mesas",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Memoria de consultas generales": {
      "ai_memory": [
        [
          {
            "node": "Agente General",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "¿Qué eligió el cliente?": {
      "main": [
        [
          {
            "node": "Nodo INFO de pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Agente Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es pedido nuevo o existente?": {
      "main": [
        [
          {
            "node": "Modificar Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insertar Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modificar Pedido": {
      "main": [
        [
          {
            "node": "Guardar Logs2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "¿Es Venta Final?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es Venta Final?": {
      "main": [
        [
          {
            "node": "¿Es pedido nuevo o existente?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Charla Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analizador Intención Flexible": {
      "main": [
        [
          {
            "node": "¿Qué eligió el cliente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "consultar_categorias": {
      "ai_tool": [
        [
          {
            "node": "Agente Pedidos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "consultar_platos": {
      "ai_tool": [
        [
          {
            "node": "Agente Pedidos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "verificar_plato": {
      "ai_tool": [
        [
          {
            "node": "Agente Pedidos",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Detector de pedidos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Clasificador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Reservas Local",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Reserva Mesas",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Pedidos",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Agente General",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Agente Pedidos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insertar Pedido": {
      "main": [
        [
          {
            "node": "Guardar Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Logs": {
      "main": [
        [
          {
            "node": "Enviar mensaje FInal nuevo Pedido",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error DB - Insertar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Logs2": {
      "main": [
        [
          {
            "node": "Enviar mensaje FInal Modificado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar Error DB - Modificar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar_info_general": {
      "ai_tool": [
        [
          {
            "node": "Agente General",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "¿Está en horario de atención?": {
      "main": [
        [
          {
            "node": "Validar si tiene pedido o no",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Enviar Mensaje Cerrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5674ea1d-ad0e-41b1-bf3c-8f6c1932b8c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4e2a9cf735002cdce952682d184b16f5944ceba0b7283c3d036de14abc7db56"
  },
  "id": "pIvnoFMJkwsNkAYs",
  "tags": []
}